@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');

@keyframes flipdown {
	0% {
		opacity: 0;
		transform-origin: top center;
		transform: rotateX(-90deg);
	}

	5% {
		opacity: 1;
	}

	80% {
		transform: rotateX(8deg);
	}

	83% {
		transform: rotateX(6deg);
	}

	92% {
		transform: rotateX(-3deg);
	}

	100% {
		transform-origin: top center;
		transform: rotateX(0deg);
	}
}


* {
	margin: 0;
	padding: 0;
	font-family: 'Ulbuntu', sans-serif;
}

a {
	text-decoration: none;
}

/*HEADER*/

.header a {
	color: #fff;
	font-size: 14px;
}

.header_top {
	height: 80px;
	width: 100%;

	display: flex;
	align-items: center;
}

.menu__toggle {
	display: none;

	position: fixed;
	top: 0;
	bottom: 0;
	left: -200px;
	z-index: 5;

	width: 200px;
	height: 100%;

	padding: 15px 20px;

	transition: left 0.3s;
}

.menu__toggle label {
	position: absolute;
	left: 200px;
	top: 205px;
	z-index: 10;

	width: 20px;
	height: 20px;

	padding: 10px;

	font-size: 14px;
	line-height: 20px;
	color: #fff;
	
	cursor: pointer;
	text-align: center;
	background-color: #a6ba00;

	border-radius: 0 7px 7px 0;
}

.menu__toggle label:after {
	content: '\2630';
	text-decoration: none;
}

.menu__toggle label:hover {
	background-color: #97a900;
}

input#menu__toggle:checked ~ .menu__toggle label {
	right: 0;
	top: 20px;
	border-radius: 0;
}

input#menu__toggle:checked ~ .menu__toggle label:after {
	content: '\2715';
}

input#menu__toggle:checked ~ .menu__toggle {
	left: 0;
	box-shadow: 4px 0 20px 0 rgba(0, 0, 0, 0.5);
	transition: background 0.1s ease-in-out;
	background-color: #fff;
	overflow-y: auto;
}

input#menu__toggle:checked ~ .menu__toggle > .menu{
	opacity: 1;
	transform: translateX(0);
}

input#menu__toggle {
	display: none;
	position: absolute;
	z-index: 15;
}

.menu__togle > .menu {
	display: block;
	padding: 0;

	list-style-type: none;
}

.menu {
	height: 300px;

	position: relative;
	top: calc(50% - 250px);
	transform: translateX(-50%);
	transition: transform .5s .1s ease; 
}

.menu__togle > .menu > li {
	line-height: 20px;
	opacity: 0;
}

.menu li:not(:last-child) {
	margin-bottom: 75px;
}

.menu a {
	display: inline-block;
	position: relative;
	padding: 0;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	width: 100%;
	transition: color .5s ease, padding .5s ease;
}

.header__logo {
	width: 15%; 
	text-align: center;
}

.header__logo img {
	height: 40px;
}

.header__nav {
	width: 40%;
}

.header__nav ul {
	display: flex;

	width: 70%;
	justify-content: space-between;
	list-style-type: none;
}

.header__lang {
	width: 10%;
	margin-left: 20%;
	
	display: flex;
	justify-content: center;
}

.ru_lang {
	font-weight: bold;
	margin-right: 20px;
}

.en_lang {
	font-weight: 300;
}

.header__phone {
	font-weight: bold;
	width: 15%;
	text-align: center;
}

.header__phone_img {
	display: none;
	margin-left: 50px;
}

.header__phone_img img {
	width: 40px;
}

/*MAIN*/

.main_title {
	width: 70%;
	
	padding-bottom: 40px;
	margin-left: auto;
	margin-right: auto;

	font-size: 30px;
}

/*REQUEST*/

.block_request {
	background-color: #333;
	margin-top: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.request_title {	
	color: #fff;
}

.request {
	width: 70%;

	margin-left: auto;
	margin-right: auto;
}

.request p {
	color: #ccc;
}

.request_text__italic {
	font-style: italic;
	padding-bottom: 20px;
}

.form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form input {
	height: 45px;
	width: 20%;

	border: 0;
	border-radius: 3px;

	font-size: 14px;
	padding: 0 20px;
}

.sign_up__button {
	height: 45px;
	width: 15%;

	padding: 0 10px;

	background-color: #a6ba00;
	border: 0;
	border-radius: 3px;
	
	color: #333;
	font-size: 14px;
	font-weight: bold;
}

.sign_up__button:hover {
	cursor: pointer;
	background-color: #97a900;
}

.request_text__mini {
	font-size: 12px;
	width: 30%;
}

/*FOOTER*/

.footer {
	background-color: #333;
	font-size: 14px;
	color: #ccc;
}

.footer_container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 0;

	display: flex;
	justify-content: space-between;
	border-top: 2px solid #555;
}

.footer_logo {
	width: 50px;
	margin-bottom: 20px;
}

.rights,
.footer__nav a,
.footer__block_3 p {
	line-height: 20px;
}

.footer__nav {
	list-style-type: none;
}

.footer__nav a,
.footer__block_3 p,
.footer__block_4 p {
	font-style: italic;
}

.footer__nav a {
	color: #ccc;
}

.footer__block_4 p {
	padding-bottom: 10px;
}

.footer__social_links {
	width: 62px;
	display: flex;
	justify-content: space-between;
}

.footer__block_4 img {
	height: 14px;
}

.button_up {
	width: 45px;
	height: 45px;
	border: 0;
	border-radius: 3px;
	background-color: #a6ba00;
	font-family: 'Calibri', sans-serif;
	font-size: 25px;
	color: #333;
}

.button_up:hover {
	cursor: pointer;
	background-color: #97a900;
}
